// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-rounded {
    border-radius: 50%;
}

.img-half-rounded {
    border-radius: 10px;
}

.stream {
    background-color: #f8f9fa;
    border-radius: 6px;
    margin-bottom: 15px;
    padding: 10px;
}
.stream-content {
}
.stream-userimage {
    margin-right: 10px;
}
.stream-username {
    font-weight: bold;
    padding-top: 10px;
    width: 40%;
    vertical-align: center;
    a {
        color: #40474e;
    }
}
.stream-posttime {
    font-size: 12px;
    width: 40%;
    text-align: right;
    padding: 10px 0;
}
.stream-post {
    width: 83%;
    margin-left: 60px;
}
.stream-postimage {
    margin-left: 60px;
}
.stream-deletebutton {

}

.stream-commentcount {
    margin-left: 60px;
    margin-top: 10px;
    font-size: 12px;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.stream-post a, .stream-commentcount a {
    color: #40474e;
}

// .toppages-left {
//     float: left;
//     width: 20%;
//     padding: 0;
//     text-align: left;
//     font-size: 12px;
//     ul {
//         margin: 0;
//         padding: 0;
//         li {
//             list-style: none;
//             margin-bottom: 5px;
//             a {
//                 color: #40474e;
//             }
//         }
//     }
// }
.toppages-bottom {
    text-align: left;
    font-size: 12px;
    margin-bottom: 80px;
    a {
        margin: 0 10px 5px 0;
        color: #40474e;
    }
}

// .toppages-right {
//     float: right;
//     width: 80%;
// }

.added_tags {
    // background-color: #da897b;
}
.added_tag {
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    background-color: #cbd0d4;
}

.stream-heart {
    margin-top: 10px;
    margin-left: 40px;
}
.stream-heart-count {
    margin-top: 6px;
}

.tag-control{
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    background-color: #fdae96;
    &:hover {
        background-color: #fd9d80;
    }
    a{
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
}

.bar {
    margin: 5px 0 5px 0;
    height: 3px;
    width: 80%;
    background-color: #fdae96;
}

a {
    text-decoration: none !important;
}

// .new-post {
//     display: inline-block;
//     float: left;
//     width: 75%;
// }
// .new-post-file {
//     display: inline-block;
//     float: right;
//     width: 25%;
//     padding-left: 10%;
//     padding-top: 15px;
//     #post_image {
//         // display: none;
//     }
// }
// .new-post-submit {
//     clear: both;
// }

/**
 * ファイル追加ボタンCSS
 */
// .cross {
//     background: #fdae96;
//     height: 30px;
//     position: relative;
//     width: 6px;
//     &:after {
//         background: #fdae96;
//         content: "";
//         height: 6px;
//         left: -12px;
//         position: absolute;
//         top: 12px;
//         width: 30px;
//     }
//     &:hover {
//         background: #f88f6f;
//         &:after {
//             background: #f88f6f;
//         }
//     }
// }