// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-rounded {
    border-radius: 50%;
}

.img-half-rounded {
    border-radius: 10px;
}

.stream {
    background-color: #f8f9fa;
    border-radius: 6px;
    margin-bottom: 15px;
    padding: 10px;
}
.stream-userimage {
    margin-right: 10px;
}
.stream-username {
    font-weight: bold;
    padding-top: 10px;
    width: 40%;
    vertical-align: center;
    a {
        color: #40474e;
    }
}
.stream-posttime {
    font-size: 12px;
    width: 40%;
    text-align: right;
    padding: 10px 0;
}
.stream-post {
    width: 83%;
    margin-left: 60px;
}
.stream-postimage {
    margin-left: 60px;
}
.stream-deletebutton {

}

.stream-commentcount {
    margin-left: 60px;
    margin-top: 10px;
    font-size: 12px;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.stream-post a, .stream-commentcount a {
    color: #40474e;
}

.toppages-bottom {
    text-align: left;
    font-size: 12px;
    margin-bottom: 80px;
    a {
        margin: 0 10px 5px 0;
        color: #40474e;
    }
}

.added_tag {
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    background-color: #cbd0d4;
}

.stream-heart {
    margin-top: 10px;
    margin-left: 40px;
}
.stream-heart-count {
    margin-top: 6px;
}

.tag-control{
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    background-color: #fdae96;
    &:hover {
        background-color: #fd9d80;
    }
    a{
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
}

.bar {
    margin: 5px 0 5px 0;
    height: 3px;
    width: 80%;
    background-color: #fdae96;
}

a {
    text-decoration: none !important;
}

.hidden-file {
    display: none;
}

.new-post {
    width: 80%;
    float: left;
}
.add-file {
    width: 19%;
    height: 62px;
    float: right;
}

form.form-inline .hidden-search {
    display: none;
}

form.form-inline .search-image {
    padding: 3px;
}