#user_birth_day_1i, #user_birth_day_2i, #user_birth_day_3i {
    display: inline-block;
    width: 32%
}

.nessesary {
    color: red;
}

a#pills-ownpost-tab, a#pills-profile-tab, a#pills-like-tab, a#pills-follow-tab, a#pills-follower-tab {
    color: #343a40;
}
a#pills-ownpost-tab.active, a#pills-profile-tab.active, a#pills-like-tab.active, a#pills-follow-tab.active, a#pills-follower-tab.active {
    color: #fff;
}
.tag-control {
    margin: 8px;
    a {
        color: #343a40;
    }
}

/**
 * ユーザ画面側画像投稿
 */
 .custom-file-input:lang(ja) ~ .custom-file-label::after {
    content: "参照";
}
.custom-file {
    overflow: hidden;
}
.custom-file-label {
    white-space: nowrap;
}

#pills-follower a, #pills-follow a {
    color: #40474e !important;
}